.contacts {
	padding-right: 20px;
	padding-left: 20px;

	&__title {
		display: block;
		margin-bottom: 12px;
		font-weight: 700;
	}

	&__text {
		margin: 0;
		font-weight: 400;
	}

	&__phone {
		display: inline-block;
		box-sizing: border-box;
		width: 100%;
		margin-top: 16px;
		padding: 10px 20px;
		font-weight: 700;
		color: #fff;
		text-decoration: none;
		border: 1px solid #3e3e3e;
		transition: all 0.3s ease;

		&:hover,
		&:focus {
			border-color: #515151;
			cursor: pointer;
		}

		&:active {
			color: rgba(#fff, 0.3);
			background-color: #252525;
			border-color: #252525;
		}
	}

	&__phone-mobile {
		display: none;
	}
}

@media (min-width: $tablet-width) {
	.contacts {
		padding: 0;
		text-align: left;
		max-width: 60%;

		&__title {
			text-transform: uppercase;
		}

		&__phone {
			display: inline;
			margin: 0;
			padding: 0;
			font-weight: 400;
			border: none;
			border-bottom: 1px solid transparent;

			&:hover,
			&:focus {
				border-color: #fff;
			}

			&:active {
				color: rgba(#fff, 0.3);
				background-color: transparent;
				border-color: rgba(#fff, 0.3);
			}
		}

		&__phone-mobile {
			display: inline;
		}
	}
}

@media (min-width: $desktop-width) {
	.contacts {
		width: 33.33%;
	}
}
