.copyright {
	padding-right: 20px;
	padding-left: 20px;

	&__text {
		display: block;
		margin-bottom: 9px;
		font-weight: 400;
	}

	&__link {
		display: inline-block;
		box-sizing: border-box;
		width: 100%;
		min-width: 160px;
		padding: 10px 20px;
		line-height: 1.5;
		color: $white;
		background-color: $dark-grey;
		border-color: $grey;

		&:hover,
		&:focus {
			border-color: $lighter-grey;
			cursor: pointer;
		}

		&:active {
			color: rgba($white, 0.3);
			background-color: $darkest-grey;
			border-color: $darkest-grey;
		}
	}
}

@media (min-width: $tablet-width) {
	.copyright {
		max-width: 40%;
		padding: 0;

		&__text {
			margin-bottom: 11px;
		}
	}
}

@media (min-width: $tablet-width) {
	.copyright {
		max-width: 33.33%;
	}
}
