.discount {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	min-height: 91px;
	padding: 17px 20px 17px 112px;
	background-image: url("../img/discount-clock.svg");
	background-repeat: no-repeat;
	background-position: 20px center;
	background-size: 58px 57px;
	border: 1px solid #484848;
	max-width: 350px;

	&__text {
		font-weight: 400;
		font-size: 20px;
		line-height: 1.35;
	}
}
