.inner-content {
	color: #000;
	background-color: $bg-lightgrey;

	&__wrapper {
		padding: 31px 20px;
	}

	&__header {
		margin-bottom: 29px;
	}

	&__title {
		margin: 0;
		font-weight: 700;
		font-size: 30px;
		line-height: 1;
		text-align: center;
		text-transform: uppercase;
	}

	&__link {
		display: none;
	}
}

