.inner-content {
	color: #000;
	background-color: $bg-lightgrey;

	&__wrapper {
		max-width: 450px;
		margin: 0 auto;
		padding: 31px 20px 14px;
	}

	&__header {
		margin-bottom: 29px;
	}

	&__title {
		margin: 0;
		font-weight: 700;
		font-size: 30px;
		line-height: 1;
		text-align: center;
		text-transform: uppercase;
	}

	&__link {
		display: none;
	}

	&::after {
		@include triangle(34px, $bg-lightgrey, down, $bg-darkgrey, calc(50vw));
	}

	&--dark-triangle {
		&::after {
			border-right-color: #292929;
			border-left-color: #292929;
		}
	}
}

@media (min-width: $tablet-width) {
	.inner-content {
		&__wrapper {
			max-width: 850px;
			padding: 53px 64px 21px;
		}

		&__header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 38px;

			&--bigger-margin {
				margin-bottom: 67px;
			}
		}

		&__title {
			font-size: 40px;
			text-align: left;
		}

		&__link {
			display: inline-block;
			box-sizing: border-box;
			min-width: 160px;
		}

		&::after {
			border-top-width: 41px;
		}

		&--no-triangle {
			&::after {
				display: none;
			}
		}
	}
}

@media (min-width: $desktop-width) {
	.inner-content {
		&__wrapper {
			max-width: 1200px;
			padding: 53px 120px 47px;
		}

		&__header {
			margin-bottom: 79px;

			&--bigger-margin {
				margin-bottom: 67px;
			}
		}

		&::after {
			display: none;
		}
	}
}
