.login-form {
	&__item {
		position: relative;
		margin: 0 0 5px;
	}

	&__input {
		padding: 10px 45px 10px 18px;
	}

	&__icon {
		position: absolute;
		top: 50%;
		right: 18px;
		transform: translateY(-50%);

		fill: $black;
	}

	&__login-password-info {
		display: flex;
		margin: 25px 0 28px;
	}

	&__restore {
		display: flex;
		align-items: center;
		margin-left: auto;
		color: $black;
		text-decoration: underline;
		transition: color 0.2s;

		&:hover,
		&:focus,
		&:active {
			color: $brown;
		}
	}

	&__button {
		width: 130px;
		color: $white;
		background-color: $brown;
	}

	&__additional-text {
		display: none;
	}

	// Стилизация кастомного чекбокса
	&__checkbox {
		position: relative;
		display: flex;
		align-items: center;
		min-height: 33px;
		padding-left: 45px;
		cursor: pointer;
		transition: color 0.2s;

		&:hover,
		&:focus {
			color: $brown;
		}
	}

	&__checkbox-input + .login-form__checkbox-indicator {
		position: absolute;
		top: 0;
		left: 0;
		width: 31px;
		height: 31px;
		background-color: $white;
		border: 1px solid $beige;
		transition: all 0.2s;

		&:hover,
		&:focus {
			border-color: $darker-beige;
		}

		&:active {
			background-color: $darker-beige;
		}
	}

	&__checkbox-input:checked + .login-form__checkbox-indicator::after {
		content: "";
		position: absolute;
		top: 7px;
		left: 5px;
		width: 20px;
		height: 10px;
		background-color: transparent;
		border-bottom: 2px solid $black;
		border-left: 2px solid $black;
		transform: rotate(-45deg);
	}

	&__checkbox-input:focus + .login-form__checkbox-indicator {
		outline: 1px solid $brown;
	}
}

@media (min-width: $tablet-width) {
	.login-form {
		&__icon {
			right: 25px;
		}

		&__login-password-info {
			margin: 26px 0 32px;
		}

		&__button {
			width: 100%;
		}

		&__additional-text {
			display: inline;
		}
	}
}
