.modal-content {
	position: fixed;
	top: 135px;
	left: 50%;
	z-index: 20;
	display: none;
	width: 320px;
	margin-left: -160px;
	padding: 33px 20px 37px;
	color: #000;
	background-color: $bg-lightgrey;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);

	&__close {
		position: absolute;
		right: 20px;
		bottom: 37px;
		width: 130px;
		height: auto;
		color: #000;
		background-color: $bg-lightgrey;
		border: 1px solid #e5ddd5;

		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 14px;
			left: -1px;
			display: none;
			width: 34px;
			height: 2px;
			background-color: #fff;
			border-radius: 1px;
		}

		&::before {
			transform: rotate(45deg);
		}

		&::after {
			transform: rotate(-45deg);
		}
	}

	&__title {
		margin: 0 0 15px;
		font-size: 30px;
		line-height: 1;
		text-align: center;
		text-transform: uppercase;
	}

	&__insruction {
		margin: 0 0 22px;
		font-size: 18px;
		line-height: 1.5;
		text-align: center;
	}
}

@keyframes bounce {
	0% {
		transform: translateY(-2000px);
	}

	70% {
		transform: translateY(30px);
	}

	90% {
		transform: translateY(-10px);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes shake {
	0%,
	100% {
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translateX(-10px);
	}

	20%,
	40%,
	60%,
	80% {
		transform: translateX(10px);
	}
}

.modal-content--show {
	display: block;
	animation: bounce 0.6s;
}

.modal-content--error {
	animation: shake 0.6s;
}

@media (min-width: $tablet-width) {
	.modal-content {
		top: 129px;
		width: 460px;
		margin-left: -230px;
		padding: 54px 70px 57px;

		&__close {
			top: 60px;
			right: -105px;
			width: 31px;
			height: 31px;
			font-size: 0;
			background-color: transparent;
			border: 0;

			&::before,
			&::after {
				display: block;
			}
		}

		&__title {
			font-size: 40px;
			line-height: 1;
		}
	}
}
