.order-form {
	text-align: center;

	&__field {
		margin: 0;
		margin-bottom: 39px;
		padding: 0;
		border: none;
	}

	&__legend {
		margin-bottom: 33px;
		font-size: 20px;
		line-height: 1.35;
		text-align: center;
		text-transform: uppercase;
	}

	&__subgroup {
		margin-bottom: 31px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__item {
		margin-top: 0;
		margin-bottom: 5px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__textarea {
		min-height: 112px;
		resize: none;
	}

	&__beard-list,
	&__services-list {
		@include list-reset;

		display: flex;
		flex-wrap: wrap;
	}

	&__beard-option {
		width: 33%;
		margin-bottom: 9px;
		padding-bottom: 114px;
		text-align: center;
		background-repeat: no-repeat;

		&--admiral {
			background-image: url("../img/service-beard.svg");
			background-position: bottom 52px center;
			background-size: 52px 49px;
		}

		&--lumberjack {
			background-image: url("../img/beard-2.svg");
			background-position: bottom 34px center;
			background-size: 58px 68px;
		}

		&--explorer {
			background-image: url("../img/beard-3.svg");
			background-position: bottom 21px center;
			background-size: 62px 79px;
		}

		&--boyar {
			background-image: url("../img/beard-4.svg");
			background-position: bottom 7px center;
			background-size: 57px 98px;
		}

		&--sage {
			background-image: url("../img/beard-5.svg");
			background-position: bottom center;
			background-size: 45px 105px;
		}
	}

	&__services-option {
		width: 100%;
		margin-bottom: 20px;
		text-align: left;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__submit {
		box-sizing: border-box;
		width: 100%;
		margin-bottom: 24px;
		font-weight: 700;
		font-size: 18px;
		line-height: 1.33;
		font-family: "PT Sans Narrow", "Arial", sans-serif;
		color: #fff;
		text-transform: uppercase;
		background-color: $brown;

		&:hover,
		&:focus {
			background-color: #6a4d38;
		}

		&:active {
			color: rgba(#fff, 0.3);
		}
	}
}

// Стилизация радио кнопок
.order-form__radio-label {
	position: relative;
	display: block;
	padding-top: 64px;
	font-size: 18px;
	line-height: 1.33;

	&:hover {
		cursor: pointer;
	}
}

.order-form__radio-label::before {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	display: block;
	box-sizing: border-box;
	width: 51px;
	height: 51px;
	background-color: #fff;
	border: 1px solid #e5ddd5;
	border-radius: 50%;
	transform: translateX(-50%);
	transition: all 0.2s;
}

.order-form__radio-label:hover,
.order-form__radio-label:focus {
	&::before {
		border-color: #d5c9bd;
	}
}

.order-form__radio-label:active {
	&::before {
		background-color: #d5c9bd;
	}
}

.order-form__radio,
.order-form__checkbox {
	display: none;
}

.order-form__radio:checked + .order-form__radio-label::after {
	content: "";
	position: absolute;
	top: 26px;
	left: 50%;
	display: block;
	box-sizing: border-box;
	width: 18px;
	height: 18px;
	background-color: #fff;
	border: 1px solid #e5ddd5;
	border-radius: 50%;
	transform:
		translateX(-50%)
		translateY(-50%);
	transition: border-color 0.2s;
}

.order-form__radio:checked:hover + .order-form__radio-label::after,
.order-form__radio:checked:focus + .order-form__radio-label::after {
	border-color: #d5c9bd;
}

// Стилизация чекбоксов
.order-form__checkbox-label {
	position: relative;
	display: flex;
	align-items: center;
	min-height: 36px;
	padding-left: 60px;
	font-size: 18px;
	line-height: 1.66;

	&:hover {
		cursor: pointer;
	}
}

.order-form__checkbox-label::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	width: 36px;
	height: 36px;
	background-color: #fff;
	border: 1px solid #e5ddd5;
	transition: all 0.2s;
}

.order-form__checkbox-label:hover,
.order-form__checkbox-label:focus {
	&::before {
		border-color: #d5c9bd;
	}
}

.order-form__checkbox-label:active {
	&::before {
		background-color: #d5c9bd;
	}
}

.order-form__checkbox:checked + .order-form__checkbox-label::after {
	content: "";
	position: absolute;
	top: 10px;
	left: 7px;
	box-sizing: border-box;
	width: 22px;
	height: 10px;
	background-color: transparent;
	border-bottom: 2px solid #000;
	border-left: 2px solid #000;
	transform: rotate(-45deg);
}

@media (min-width: $tablet-width) {
	.order-form {
		&__field {
			margin-bottom: 58px;
			overflow: hidden;

			&--less-margin {
				margin-bottom: 11px;
			}
		}

		&__legend {
			position: relative;
			display: inline-block;
			margin-bottom: 41px;
			padding-right: 25px;
			padding-left: 25px;
			font-size: 30px;
			line-height: 1;

			&::before,
			&::after {
				content: "";
				position: absolute;
				top: 50%;
				display: block;
				width: 9999px;
				height: 1px;
				margin-top: -4px;
				background-color: #e5ddd5;
			}

			&::before {
				right: 100%;
			}

			&::after {
				left: 100%;
			}

			&--bigger-margin {
				margin-bottom: 65px;
			}
		}

		&__subgroup {
			margin-bottom: 35px;

			&--name {
				display: flex;
			}
		}

		&__item {
			&--name,
			&--surname,
			&--middle-name {
				width: 33.33%;
				margin-bottom: 0;
			}

			&--name {
				order: -1;
			}

			&--contact {
				margin-bottom: 35px;
			}
		}

		&__textarea {
			min-height: 211px;
		}

		&__beard-list {
			flex-wrap: nowrap;
		}

		&__beard-option {
			width: 20%;
			margin-bottom: 0;
			padding-bottom: 135px;
		}

		&__radio-label {
			padding-top: 81px;
			font-size: 24px;
			line-height: 1;
		}

		&__services-option {
			width: 50%;
			margin-bottom: 47px;

			&--beard-dyeing {
				order: 1;
			}

			&--whiskers-cheat {
				order: 4;
			}

			&--beard-combing {
				order: 2;
			}

			&--temples-trimming {
				order: 5;
			}

			&--graying-remove {
				order: 3;
			}

			&--bald-head-polishing {
				order: 6;
			}
		}

		&__checkbox-label {
			font-size: 24px;
			line-height: 1.25;
		}

		&__submit {
			margin-bottom: 54px;
			padding: 20px;
			font-size: 24px;
			line-height: 1.25;
		}
	}
}
