.page-footer {
	text-align: center;
	color: $white;
	background-color: $dark-grey;
	border-top: 1px solid $mid-grey;

	&__wrapper {
		padding-top: 31px;
		padding-bottom: 24px;
	}

	&__contacts {
		margin-bottom: 26px;
	}

	&__social {
		margin-bottom: 29px;
	}
}

@media (min-width: $tablet-width) {
	.page-footer {
		&__wrapper {
			display: flex;
			flex-wrap: wrap;
			padding: 49px 64px 58px;
		}

		&__contacts {
			margin: 0;
		}

		&__social {
			order: 1;
			margin-top: 44px;
			margin-bottom: 0;
		}

		&__copyright {
			margin-left: auto;
		}
	}
}

@media (min-width: $desktop-width) {
	.page-footer {
		&__wrapper {
			flex-wrap: no-wrap;
			justify-content: flex-start;
			max-width: 1440px;
			margin: 0 auto;
			padding-right: 120px;
			padding-bottom: 56px;
			padding-left: 120px;
		}

		&__contacts {
			margin: 0;
		}

		&__social {
			order: 0;
			margin-top: 0;
		}
	}
}
