.prices {
	&__wrapper {
		max-width: 490px;
		margin-right: auto;
		margin-left: auto;
		padding: 37px 20px 19px;
	}

	&__title {
		margin: 0;
		margin-bottom: 20px;
		font-weight: 700;
		font-size: 30px;
		line-height: 1;
		text-align: center;
		text-transform: uppercase;
	}

	&__table {
		margin-bottom: 22px;
	}

	&__discount {
		margin: 0 auto;
	}

	&::after {
		@include triangle(34px, $mid-grey, down, $dark-grey, calc(50vw));
	}
}

@media (min-width: $tablet-width) {
	.prices {
		&__wrapper {
			max-width: 978px;
			padding: 44px 64px 60px;
		}

		&__title {
			margin-bottom: 48px;
			font-size: 40px;
			text-align: left;
		}

		&__table {
			margin-bottom: 9px;
		}

		&::after {
			display: none;
		}
	}
}

@media (min-width: $desktop-width) {
	.prices {
		&__wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: flex-start;
			max-width: 1440px;
			padding: 78px 120px 88px;
		}

		&__title {
			width: 100%;
		}

		&__table {
			margin-bottom: 0;
		}

		&__discount {
			margin-right: 0;
			margin-left: 0;
		}
	}
}
