.price-list {
	width: 100%;

	&__item {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		min-width: 280px;
		margin-bottom: 11px;
		font-size: 20px;
		line-height: 1.35;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__item-number {
		display: none;
	}

	&__item-service {
		font-weight: 700;
	}

	&__item-addition {
		order: 1;
		width: 100%;
	}
}

@media (min-width: $tablet-width) {
	.price-list {
		border-collapse: collapse;

		td {
			padding: 13px 20px;
			border: 1px solid #484848;
		}

		&__item {
			display: table-row;
			margin-bottom: 0;
		}

		&__item-number {
			display: table-cell;
			width: 72px;
			text-align: center;
			color: rgba($white, 0.3);
		}

		&__item-addition {
			width: auto;
			min-width: 160px;
		}

		&__paranhesis {
			display: none;
		}

		&__item-price {
			width: 160px;
		}
	}
}

@media (min-width: $desktop-width) {
	.price-list {
		width: 65.62%;

		&__item-price {
			width: 150px;
		}
	}
}
