.slider {
	overflow: hidden;

	&__list {
		display: flex;
		transition: transform 0.6s ease;
	}

	&__radio {
		display: none;
	}

	&__toggles {
		display: flex;
		justify-content: space-between;
		width: 80px;
		min-height: 12px;
		margin: 0 auto;
	}

	&__toggle {
		display: inline-block;
		width: 8px;
		height: 8px;
		padding: 0;
		font-size: 0;
		vertical-align: top;
		background-color: $darkest-grey;
		border: 2px solid #959595;
		transform: rotate(45deg);
		transition: all 0.2s;

		&:hover {
			background-color: $white;
			border-color: $white;
			cursor: pointer;
		}

		&--dark {
			background-color: $light-beige;
			border-color: #939290;

			&:hover {
				background-color: $mid-grey;
				border-color: $mid-grey;
			}
		}
	}

	&__side-control {
		position: absolute;
		top: 0;
		display: none;
		width: 50px;
		height: 100%;
		padding: 0;
		font-size: 0;
		background-color: $light-beige;
		border: 1px solid $beige;

		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 19px;
			display: block;
			width: 0;
			height: 0;
			border-top: 6px solid transparent;
			border-bottom: 6px solid transparent;
			-webkit-transform: rotate(360deg); // fixes Safari bug
			transform: translateY(-50%);
		}

		&:hover,
		&:focus {
			border-color: $darker-beige;
		}

		&:active {
			background-color: $darker-beige;
			border-color: #958c84;
		}
	}
}

#advantages-switch-1:checked ~ .slider__toggles label[for="advantages-switch-1"],
#advantages-switch-2:checked ~ .slider__toggles label[for="advantages-switch-2"],
#advantages-switch-3:checked ~ .slider__toggles label[for="advantages-switch-3"] {
	background-color: $white;
	border-color: $white;

	&:hover {
		cursor: default;
	}
}

#reviews-switch-1:checked ~ .slider__toggles label[for="reviews-switch-1"],
#reviews-switch-2:checked ~ .slider__toggles label[for="reviews-switch-2"],
#reviews-switch-3:checked ~ .slider__toggles label[for="reviews-switch-3"] {
	background-color: $mid-grey;
	border-color: $mid-grey;

	&:hover {
		cursor: default;
	}
}

#reviews-switch-1:checked ~ .slider__side-controls label[for="reviews-switch-3"],
#reviews-switch-2:checked ~ .slider__side-controls label[for="reviews-switch-1"],
#reviews-switch-3:checked ~ .slider__side-controls label[for="reviews-switch-2"] {
	left: 0;
	display: block;

	&::after {
		border-right: 12px solid $black;
		border-left: none;
	}
}

#reviews-switch-1:checked ~ .slider__side-controls label[for="reviews-switch-2"],
#reviews-switch-2:checked ~ .slider__side-controls label[for="reviews-switch-3"],
#reviews-switch-3:checked ~ .slider__side-controls label[for="reviews-switch-1"] {
	right: 0;
	display: block;

	&::after {
		border-right: none;
		border-left: 12px solid $black;
	}
}

#reviews-switch-1:checked ~ .slider__list {
	transform: translate(0);
}

#reviews-switch-2:checked ~ .slider__list {
	transform: translate(-33.33%);
}

#reviews-switch-3:checked ~ .slider__list {
	transform: translate(-66.66%);
}

@media (max-width: $mobile-width-only) {
	#advantages-switch-1:checked ~ .slider__list {
		transform: translate(0);
	}

	#advantages-switch-2:checked ~ .slider__list {
		transform: translate(-33.33%);
	}

	#advantages-switch-3:checked ~ .slider__list {
		transform: translate(-66.66%);
	}

	.slider__side-controls {
		display: none;
	}
}

