.social {
	&__title {
		display: none;
		text-align: center;
	}

	&__list {
		@include list-reset;

		display: flex;
		justify-content: center;
		font-size: 0;
	}

	&__item {
		display: block;
		width: 33.33%;
		height: 101px;
		border: 1px solid #3e3e3e;
		transition: 0.3s all ease;

		&:hover,
		&:focus {
			border-color: #515151;
		}

		&:active {
			border-color: #252525;
		}
	}

	&__icon {
		fill: #fff;

		&--vkontakte {
			width: 38px;
			height: auto;
		}

		&--facebook {
			width: 19px;
			height: auto;
		}

		&--instagram {
			width: 36px;
			height: auto;
		}
	}

	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		color: #fff;
		text-decoration: none;
		transition: 0.3s all ease;

		&:hover,
		&:focus {
			cursor: pointer;
		}

		&:active {
			color: rgba(#fff, 0.3);
			background-color: #252525;

			.social__icon {
				fill: rgba(#fff, 0.3);
			}
		}
	}
}

@media (min-width: $tablet-width) {
	.social {
		width: 100%;
	}
}

@media (min-width: $desktop-width) {
	.social {
		width: 33.33%;

		&__title {
			display: block;
			margin-bottom: 11px;
			font-weight: 400;
		}

		&__item {
			width: 48px;
			height: 48px;
			margin-right: 6px;

			&:last-child {
				margin-right: 0;
			}
		}

		&__icon {
			&--vkontakte {
				width: 26px;
			}

			&--facebook {
				width: 11px;
			}

			&--instagram {
				width: 19px;
			}
		}
	}
}
