.text-input {
	display: block;
	width: 100%;
	padding: 10px 17px;
	font: inherit;
	line-height: 1.66;
	color: inherit;
	text-transform: inherit;
	background-color: #fff;
	border: 1px solid #e5ddd5;
	transition: all 0.3s;

	&:hover,
	&:focus {
		border-color: #d5c9bd;
	}

	&:active {
		border-color: #999;
	}

	&::placeholder {
		color: #000;
		opacity: 1;
		transition: opacity 0.3s;
	}

	&:focus::placeholder {
		opacity: 0;
	}
}


@media (min-width: $tablet-width) {
	.text-input {
		padding: 19px 23px;
		font-size: 24px;
		line-height: 1.25;
	}
}
