.text-input {
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: 7px 15px;
	font: inherit;
	line-height: 1.66;
	color: inherit;
	text-transform: inherit;
	background-color: #fff;
	border: 1px solid #e5ddd5;

	&::placeholder {
		color: #000;
	}

	/*
	&::-webkit-input-placeholder {
		color: #000;
	}

	&::-moz-placeholder {
		color: #000;
	}

	&:-moz-placeholder {
		color: #000;
	}

	&:-ms-input-placeholder {
		color: #000 !important;
	}
	*/
}
